@using TwitterApp.Nancy.AspNet.Auth
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<TwitterApp.Nancy.Search.Models.SearchViewModel>

@{
    Layout = "_Layout.cshtml";
    var currentUser = Context.CurrentUser as TwitterUser;
}
<h3>Search Tweets</h3>
<form class="form" role="form" method="post" autocomplete="off">

    <div class="form-group">
        <label class="control-label" for="Query">Query</label>
        <input type="text" class="form-control" id="Query" name="Query" value="@Model.Query.Query">
    </div>
    <div class="form-group">
        <label class="control-label" for="Count">Count</label>
        <input type="number" class="form-control" id="Count" name="Count" value="@Model.Query.Count">
    </div>
    <button type="submit" class="btn btn-success">Search Tweets</button>
</form>

@if (Model.Result != null)
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Author</th>
            <th>Content</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var tweet in Model.Result.Tweets)
        {
            <tr>
                <td>
                    @tweet.AuthorScreenName
                </td>
                <td>
                    @tweet.Content
                </td>
                <td>
                    @if (currentUser != null && currentUser.TwitterUserId == tweet.AuthorUserId)
                    {
                        <form role="form" method="post" action="/tweet/delete/@tweet.Id">
                            <button type="submit" class="btn btn-danger">Delete Tweet</button>
                        </form>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>

   @if (Model.Result.MinId.HasValue)
   {
    <div>
        <form role="form" method="post">
            <input type="hidden" name="Query" value="@Model.Query.Query" />
            <input type="hidden" name="Count" value="@Model.Query.Count" />
            <input type="hidden" name="MaxId" value="@Model.Result.MinId" />
            <button type="submit" class="btn btn-default">Show More Tweets</button>
        </form>
    </div>
   }
}