@using TwitterApp.Nancy.AspNet.Auth
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<TwitterApp.Core.Models.Tweet>

@{
    Layout = "_Layout.cshtml";
    string message = ViewBag.Message ?? Request.Query.Message;
}
<h3>Send A Tweet</h3>
<form class="form-horizontal" role="form" method="post" autocomplete="off">

    <div class="form-group">
        <label class="control-label col-sm-3" for="Content">Content</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="Content">
        </div>
        <button type="submit">Send Tweet</button>
    </div>
</form>

@if (message != null)
{
    <span class="alert">@message</span>
}

@if (Model != null)
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Id:
            </td>
            <td>
                @Model.Id
            </td>
        </tr>
        <tr>
            <td>
                Author:
            </td>
            <td>
                @Model.AuthorScreenName
            </td>
        </tr>
        <tr>
            <td>
                Content:
            </td>
            <td>
                @Model.Content
            </td>
        </tr>
        <tr>
            <td>
                Sent:
            </td>
            <td>
                @Model.CreatedDate
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <form role="form" method="post" action="/tweet/delete/@Model.Id">
            <button type="submit" class="btn-danger">Delete Tweet</button>
        </form>
    </div>
}