@using TwitterApp.Nancy.AspNet.Auth
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<TwitterApp.Nancy.Search.Models.SearchViewModel>

@{
    Layout = "_Layout.cshtml";
    var currentUser = Context.CurrentUser as TwitterUser;
}
<h3>Search Tweets</h3>
<form class="form-horizontal" role="form" method="post" autocomplete="off">

    <div class="form-group">
        <label class="control-label col-sm-3" for="Query">Query</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="Query" value="@Model.Query.Query">
        </div>
        <label class="control-label col-sm-3" for="Count">Count</label>
        <div class="col-sm-3">
            <input type="number" class="form-control" name="Count" value="@Model.Query.Count">
        </div>
        <button type="submit">Search Tweets</button>
        <button type="reset">Reset</button>
    </div>
</form>

@if (Model.Result != null)
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Author</th>
            <th>Content</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var tweet in Model.Result.Tweets)
        {
            <tr>
                <td>
                    @tweet.AuthorScreenName
                </td>
                <td>
                    @tweet.Content
                </td>
                <td>
                    @if (currentUser != null && currentUser.TwitterUserId == tweet.AuthorUserId)
                    {
                        <button class="btn-danger">Delete</button>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>

    <div>
        <form role="form" method="post">
            <input type="hidden" name="Query" value="@Model.Query.Query"/>
            <input type="hidden" name="Count" value="@Model.Query.Count"/>
            <input type="hidden" name="MaxId" value="@Model.Result.MinId"/>
            <button type="submit">Show More Tweets</button>
        </form>
    </div>
}